<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%=_('Mailr')%></title>
  <link rel="stylesheet" href="/stylesheets/webmail/webmail.css" type="text/css" media="screen" />
</head>
<body>
  <div id="msg_source">
	<%=@msg_source%>    
  </div>
</body>
</html>
