/* Nested Lists */
.open { display: block; }
.closed { display: none; }

#SystemError {
        position: relative;
        color: #990000;
        background-color: #FFCCCC;
        border-top: 1px solid #FF0000;
        border-bottom: 1px solid #FF0000;
        padding: 3px 2em;
        margin: 0 0 10px 0;
}

#SystemStatus {
        position: relative;
        color: #006600;
        background-color: #CCFFCC;
        border-top: 1px solid #00FF00;
        border-bottom: 1px solid #00FF00;
        padding: 3px 2em;
        margin: 0 0 10px 0;
}

#login {
        text-align: left;
        position: relative;
        width: 400px;
        margin: 10% auto 0 auto;
        padding: 10px;
        color: #fff;
        background-color: #5350b9;
}

table.form_layout { margin: 0 auto; }
table.form_layout th { margin: 0; padding: 0 5px 10px 0; text-align: right; vertical-align: top; }
table.form_layout td { margin: 0; padding: 0 0 10px 5px; text-align: left; vertical-align: top;}
table.form_layout td.form_actions { text-align: right; }

/*  Rounded Box Corners
---------------------------------------------------------------------- */
.box {margin: 0 0 0.75em 0; clear: both; position: relative;}
b.cn { position: absolute; height: 10px; width: 10px; margin: 0; padding: 0; background: url(../images/white.png) no-repeat; line-height: 1px; font-size: 1px; } 
b.tl {top: -1px; left: -1px; background-position: top left;}
b.tr {top: -1px; right: -1px; background-position: top right;}
b.bl {bottom: -1px; left: -1px; background-position: bottom left;}
b.br {bottom: -1px; right: -1px; background-position: bottom right;}

 /* IE Filters */
* html b.bl {bottom:-2px}
* html b.br {bottom:-2px}
* html b.cn {background-image: url(../images/white.gif);}

#container { background: url("../images/d6deec.gif") top left repeat-y; }

#tab_content { width: 100%; }

#wholepage { color: #000 }

#logout {font-size: 10px; color: #5350b9; float: right;}