<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @htmllang %>" lang="<%= @htmllang %>">
<head>
  <title><%= t :mailr %></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/tabs.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/mailr.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/javascripts/global.js"></script>
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <%=(@content_for_scripts ? @content_for_scripts : @additional_scripts )%>
</head>
<body id="bodyID" onload="<%=@onload_function%>">
  <div id="wholepage">
    <div id="container">
      <div id="sidebar_outer">
	<div id="sidebar"><%= yield :sidebar %></div>
      </div>
      <div id="content"><%= yield %></div>
      <br class="clear"/>
    </div>
  </div>
</body>
</html>
